


body{

  background-color: lightgray;
  text-align: center;
}


.seletor{
  border: solid;
  border-color: black;
  width: 200px;
  display: inline-block;
}


.tabuleiro{
  width: 1000px;
  height: 1000px;
  margin: auto;
}


.linha{

  display: inline-block;
  height: 100px;
}
